    .button{
        background-color:hsl(158, 36%, 37%);
        color:  hsl(0, 0%, 100%);
    }

    .description{
        color:hsl(228, 12%, 48%);
        
    }

    .price{
        color:hsl(158, 36%, 37%);
        font-size: 25pt;
    }

    .oldprice{
        color: hsl(228, 12%, 48%);
        text-decoration:line-through;
    }
    
    .attribution { font-size: 11px; text-align: center; 
    }

    .attribution a { color: rgb(62, 82, 163); 
    }
    